<template>
    <v-snackbar v-model="syncedInfoText" :timeout="0" bottom left>
        {{syncedInfoText}}
    </v-snackbar>
</template>


<script lang="ts">
    import {Component, PropSync, Vue} from 'vue-property-decorator';
    @Component
    export default class InfoSnackBar extends Vue {
        @PropSync('infoText', {type: String, required: true}) syncedInfoText!: string;
    }

</script>

