<template>
    <div class="TodoMVC">
        <v-container>
            <v-row justify="center">
                <h1>Todo MVC</h1>
            </v-row>
            <br/>
            <br/>
            <v-row align="center" justify="center">
                <v-col cols="11">
                    <v-text-field label="New Todo" v-model="todoInput" @keyup.native.enter="addTodoItem"></v-text-field>
                </v-col>
                <v-col cols="1">
                    <v-row justify="end">
                        <v-btn fab @click="addTodoItem" color="primary">
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </v-row>
                </v-col>
            </v-row>
            <br/>
            <br/>
            <v-card class="mx-auto todoItemsListContainer">
                <v-list class="todoItemsList" tile v-for="(todoItem, i) in todoItems" :key='i'>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title :class="getTodoItemClass(todoItem)">
                                {{ i + 1 }}. {{ todoItem.name }}
                            </v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-checkbox color="pink darken-1"
                                        v-model="todoItem.done"
                                        aria-label="done"
                            ></v-checkbox>
                        </v-list-item-action>
                        <v-list-item-action-text>
                            <v-btn icon @click="deleteTodoItem(i)">
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                        </v-list-item-action-text>
                    </v-list-item>
                </v-list>
            </v-card>
            <v-row justify="center">
                <v-btn color="pink darken-1" outlined @click="deleteCompleted" v-if="completedItems.length">
                    Delete Completed
                </v-btn>
                <v-btn color="red" outlined @click="deleteAll" v-else-if="todoItems.length">
                    Delete All
                </v-btn>
            </v-row>
        </v-container>
        <InfoSnackBar :info-text="infoText"></InfoSnackBar>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import InfoSnackBar from "@/components/InfoSnackBar.vue";

    interface TodoItem {
        name: string;
        done: boolean;
    }

    @Component({
        components: {InfoSnackBar}
    })
    export default class TodoMVC extends Vue {
        todoInput = '';
        todoItems = [{
            name: "Die",
            done: false,
        }] as TodoItem[];
        infoText = '';
        get completedItems() {
            return this.todoItems.filter(todo => todo.done);
        }

        deleteAll() {
            this.todoItems = [];
        }

        deleteCompleted() {
            this.todoItems = this.todoItems.filter(todo => !todo.done);
        }

        addTodoItem() {
            if (this.todoInput.length < 1) {
                this.pushMessage('Todo Must Not Be Empty')
                return;
            }
            this.infoText = "";
            this.todoItems.push({
                name: this.todoInput,
                done: false,
            });
            this.todoInput = '';
        }

        deleteTodoItem(i: number) {
            this.todoItems.splice(i, 1);
        }

        mounted() {
            this.loadTodoItems();
        }

        pushMessage(msg: string) {
            this.infoText = msg;
            setTimeout(() => {
                (this.infoText === msg) && (this.infoText = '');
            }, 3000);
        }

        @Watch('todoItems', {deep: true})
        saveTodoItems(items: TodoItem[]) {
            window.localStorage.setItem("todoItems", btoa(btoa(JSON.stringify(items))));
        }

        getTodoItemClass(todoItem: TodoItem) {
            return todoItem.done ? 'todoItemDone' : 'todoItemNotDone';
        }

        loadTodoItems() {
            const items = window.localStorage.getItem("todoItems");
            try {
                items && (this.todoItems = JSON.parse(atob(atob(items))));
            } catch (e) {
                this.pushMessage('Load Error')
            }
        }
    }
</script>

<style>
    .TodoMVC {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .todoItemsListContainer {
        margin-bottom: 5vh;
    }

    .todoItemDone {
        text-decoration: line-through;
    }
</style>
