<template>
    <v-app>
        <TodoMVC />
    </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import TodoMVC from '@/components/TodoMVC.vue';

export default Vue.extend({
    name: 'App',

    components: {
        TodoMVC,
    },

    data: () => ({
        //
    }),
});
</script>
